input {
    display: block;
    margin: 4px 0 20px;
}

.add {
    margin-bottom: 80px;
}

.search input {
    display: inline-block;
}

.search-results button {
    margin-top: 20px;
}

.search-results table {
    margin-top: 10px;
}